<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="xd">
        <form action="/" method="POST">
            <input type="text" name="searchtxt" id="searchtxt">
            <input type="submit" name="submitValue" id="submitValue">
        </form>
    </div>
</body>

</html>